@model IEnumerable<BestTyping.Models.DTO.USEREXAMEDU>
@{
    ViewBag.Title = "MyExamResult";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/Theme/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Theme/css/dashboardedu.css" rel="stylesheet" />
<header class="site-header-two">
    @Html.Partial("_PartialNavTop")
</header>
<style>
    .table thead th {
        color: black;
    }
</style>
<div class="wrapper">
    @Html.Action("_PartialSideBarStu", "DashBoardStudent")
    <!-- Main Component -->
    <div class="main">
        <main class="content col-md-11 px-3 py-2">
            <div class="dashboard_wrapper">
                <div class="dashboard_wrapper-nav">
                    <h3>Kết quả bài thi</h3>
                    <ul class="list-group flex-row nav__tab">
                        <li class="nav-item">
                            <a href="@Url.Action("ListMyTestEdu","DashBoardEdu")" id="tests-taken-tab" class="button__tab-background " data-tab="browse-members">
                                <i class="fa fa-file-text-o nav__tab-icon" aria-hidden="true"></i>
                                <span>Bài kiểm tra</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab__wrapper">
                        <div class="tab__wrapper-content">
                          
                            <div class="table_wrapper">
                                <table id="table-testedu" class="table table-responsive" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="padding:8px" scope="col">Bài kiểm tra</th>
                                            <th style="padding:8px" scope="col">Lớp học</th>
                                            <th style="padding:8px" scope="col">WPM</th>
                                            <th style="padding:8px" scope="col">Số từ đúng</th>
                                            <th style="padding:8px" scope="col">Số từ sai</th>
                                            <th style="padding:8px" scope="col">Tổ hợp phím</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style=" padding: 5px">@item.TitleTest</td>
                                                <td style="padding: 5px">@item.ClassName</td>
                                                <td style="padding:5px">@item.WPM</td>
                                                <td style="padding:5px">@item.CorrectWords</td>
                                                <td style="padding:5px">@item.WrongWords</td>
                                                <td style="padding:5px">@item.KeyStrokes</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="~/Theme/Datatable/vfs_fonts.js"></script>
<script src="~/Theme/Datatable/pdfmake.min.js"></script>
<script src="~/Theme/Datatable/datatables.min.js"></script>
<script>
    $('#table-testedu').DataTable();
</script>


